@using Microsoft.AspNetCore.Routing
@using Microsoft.Extensions.Options
@using AIStore.Domain.Abstract.Services
@using AIStore.Domain.Models.Settings
@using AIStore.Web.App_Code

@inject IOptions<AppSettings> settings
@inject IRoutesParser routesParser

@section Scripts {
    <script asp-append-version="true" defer src=@Url.Content("/template/dist/js/mainSection/angularHelper-min.js")></script>
}

<div>
    @Html.RenderAngularConfigs(settings.Value.ClientConfig, routesParser)
    <app-root>
        <div class="loader-block">
            <div class="loader"></div>
        </div>
    </app-root>
    @Html.RenderAngularScripts()
</div>