@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@using AIStore.Domain.Extensions
<header>
    <div class="header_block">
        <div class="header_block_img">
            <img src="/template/images/icons/logo.svg" />
        </div>
        <div class="header_block_center">
            <a href="#"> Услуги и цены</a>
            <a href="#">Для разработчиков</a>
            <a href="#"> О нас</a>
        </div>
        <div class="header_block_end">
            <a href="#" class="header_block_end_img">
                <img src="/template/images/icons/search.svg" />
            </a>
            <select>
                <option>RU</option>
                <option>UA</option>
            </select>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown">
                    <img class="user_photo" src="https://www.imgonline.com.ua/examples/bee-on-daisy.jpg" />
                    <div class="dropdown-content">
                        <ul>
                            <li>Избраное</li>
                            <li>Оплата</li>
                            <li>Исория действий</li>
                            <li><a href="/settings">Настройки</a></li>
                            <li>Изменить учетную запись</li>
                            <li onclick="Logout()">выйти</li>
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <a onclick="ShowLoginModal()">Вход</a>
                <button onclick="ShowSingUp()">Регистрация </button>
            }
        </div>
    </div>
</header>