    <header>
        <div class="header_block">
            <div class="header_block_img">
                <img src="/template/images/icons/logo.svg" />
            </div>
            <div class="header_block_center">
                <a href="#"> Услуги и цены</a>
                <a href="#">Для разработчиков</a>
                <a href="#"> О нас</a>
            </div>
            <div class="header_block_end">
                <a href="#" class="header_block_end_img">
                    <img src="/template/images/icons/search.svg" />
                </a>
                <select>
                    <option>RU</option>
                    <option>UA</option>
                </select>
                <a onclick="ShowLoginModal()">Вход</a>
                <button onclick="ShowSingUp()">Регистрация </button>
            </div>
        </div>
    </header>