<div>
  <!--<div *ngIf="isLoading">
    <div *ngFor="let item of Categories">
      <p> {{ item }}</p>
    </div>
  </div>-->

  <div class="category_block">
    <div> <a>работастекстом </a></div>
    <div> <a> видеоэффект</a> </div>
    <div> <a>фотоэффект</a> </div>
    <div> <a> видеоэффект</a> </div>
    <div> <a>аудиоэффект </a> </div>
    <div> <a>работастекстом </a> </div>
    <div> <a>работастекстом </a> </div>
    <div> <a>аудиоэффект </a> </div>
    <div> <a>работастекстом </a> </div>


  </div>

</div>
