@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@500&display=swap');

body header{
    font-family: 'Roboto', sans-serif !important;
}

.header_block {
    background: #272733;
    height: 83px;
    display: flex;
    
}

.header_block_img {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.header_block_img img {
    width: 44px;
    height: 32px;
}

.header_block_center {
    display: flex;
    align-items: center;
    margin: auto;
}

.header_block_center a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: 22px;
    background: none;
    border: none;
    text-decoration: none;
    margin-right:15px;
    margin-left:10px;
}

.header_block_end {
    display: flex;
    align-items: center;
    margin-right: 50px;
   
}

.header_block_end_img{
    margin-top:5px;
}

.header_block_end select {
    background: none;
    border: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: 22px;
    margin-left: 15px;
}
.header_block_end a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    margin-left: 15px;
}

.header_block_end button {
    border-radius: 28px;
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-left: 15px;
}

.user_photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 100px;
    object-fit: cover;
}

.dropdown-content {
    position: absolute;
    top: 14%;
    right: 50px;
    min-width: 300px;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    background-color: #fff;
    padding: 26px;
    transition: all .5s ease 0s;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgb(0 40 75 / 10%);
}

.dropdown:hover .dropdown-content {
    visibility:visible;
    opacity: 1;
    z-index: 1;
}

.dropdown-content li{
    cursor:pointer;
}

.dropdown-content li a{
    color:black;
}









//spiner
.spinner-border {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    z-index: 100;
    border: 16px solid #dfdfdf;
    border-radius: 50%;
    border-top: 16px solid #E94E53;
    width: 120px;
    height: 120px;
    -webkit-animation: spiner 2s linear infinite; /* Safari */
    animation: spiner 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spiner {
    0% {
        -webkit-transform: rotate(0deg) translate(0, 0);
    }

    100% {
        -webkit-transform: rotate(360deg) translate(0, 0);
    }
}

@keyframes spiner {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }

    100% {
        transform: rotate(360deg) translate(0, 0);
    }
}