<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AIStore.Web</title>
    <link rel="stylesheet" href="/template/dist/css/pages/Layout/Heder.css" asp-append-version="true" />
    <link rel="stylesheet" href="/template/dist/css/pages/Layout/Footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="/template/dist/css/pages/Layout/Login.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    @await Html.PartialAsync("/Views/Shared/Header/_Header.cshtml")
    <main>
        @RenderBody()
    </main>
    @await Html.PartialAsync("~/Views/Shared/Footers/_Footer.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Pop-up/_Login.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Pop-up/_Signup.cshtml")
    <script src="/template/dist/js/Common/pop-up-min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
