@using AIStore.Domain.Abstract
@using AIStore.Web.App_Code
@inject IRoutesParser routesParser
@section Scripts {
    <script asp-append-version="true" defer src=@Url.Content("/template/dist/js/pages/forgot-password-min.js")></script>
}
@Html.RenderAngularConfigs(appSettings.Value.ClientConfig, routesParser)
<div>
            <div>
                <label name="login" class="" >Your login:</label>
                <input type="email" id="login" name="login" />
            </div>
            <button onclick="clickForgotPassword()">Submit form</button>
        </div>
</div>