<div id="popupLogin" class="popup">
    <div class="popup_body">
        <div class="popup_content">
            <a onclick="CloseLoginModal()"  class="popup_close">
              X
            </a>
            <h2>Заголовок</h2>
            <div class="common_block_popup"> 
                <div class="block_right_popup">

                </div>
                <div class="block_left_popup">
                    <div class="popup_input_login">
                        <input type="text"/>
                    </div>
                    <div class="popup_input_password" >                         
                        <input type="password"/>
                    </div>
                    <button>отправить</button>
                 </div>
            </div>
        </div>
    </div>
</div>