<div id="popupSignUp" class="popup">
    <div class="popup_body">
        <div class="popup_content">
            <a onclick="CloseSingUp()" class="popup_close">
                X
            </a>
            <div class="popup_header">
                <h2>Sign Up</h2>
            </div>
            <div class="common_block_popup">
                <div class="block_right_popup">
                    <div onclick="externalAuth('facebook')" class="block_right_Facebook">
                        <a>Sign in with Facebook </a>
                    </div>
                    <div onclick="externalAuth('google')" class="block_right_Google">
                        <a>Sign in with Google </a>
                    </div>
                     <div onclick="externalAuth('linkedin')" class="block_right_Linkedin">
                        <a > Sign in with Linkedin</a>
                    </div>
                </div>

                <div class="left_signUp_registration">
                    <div class="popup_input_password_registration">
                        <input class="passwordPopUp_registration" oninput="PasswordRegistrationOnInput()" placeholder="Password" type="password" />
                        <p class="error_signup_password">Enter a password</p>
                    </div>
                    <div class="popup_input_repeat_password">
                        <input class="repeat_passwordPopUp" oninput="RepeatPasswordRegistrationOnInput()" placeholder="Repeat password" type="password" />
                        <p class="error_password_repeat">Enter a password</p>
                    </div>

                    <button onclick="Registration()">Войти</button>
                </div>

                <div class="block_left_popup_signUp">
                    <div class="popup_input_email">
                        <p>
                            Use your email address
                        </p>
                        <input class="email_sign_up" oninput="onInputValidationSignup()" placeholder="Email" type="email" />
                        <p class="errorEmail">Enter a valid email</p>
                        <p class="serverError"></p>
                    </div>
                    <button onclick="SendFormIsUser()">Войти</button>
                </div>
            </div>
        </div>
    </div>
</div>
