<div id="popupSignUp" class="popup">
    <div class="popup_body">
        <div class="popup_content">
            <a onclick="CloseSingUp()"  class="popup_close">
              X
            </a>
            <div class="popup_header">
            <h2>Sign In</h2>
           <div class="popup_header_signup">
            <p> Don't have an account?</p>
            <a href="#"> Sign Up</a>
             </div>
            </div>
            <div class="common_block_popup"> 
                <div class="block_right_popup">
                    <div class="block_right_Facebook">
                        <a href="#">Sign in with Facebook </a>
                    </div>
                     <div class="block_right_Google">
                        <a href="#" >Sign in with Google </a>
                    </div>
                     <div class="block_right_Microsoft">
                        <a href="#" > Sign in with Microsoft</a>
                    </div>
                </div>
                <div class="block_left_popup">
                    <div class="popup_input_email">
                        <p>
                            Use your email address
                        </p>
                        <input placeholder="Email" type="email"/>
                    </div>
                    <button>Войти</button>
                 </div>
            </div>
        </div>
    </div>
</div>
