<footer>
        <div class="footer_block">
            <div class="footer_block_upper">
                <div class="footer_block_img">
                <a href="/">
                    <img src="/template/images/icons/logo.svg" />
                </a>
                </div>
                <div class="footer_block_center">
                    <a href="#"> Услуги и цены</a>
                    <a href="#">Для разработчиков</a>
                    <a href="#"> О нас</a>
                </div>
                <div class="footer_block_end">
                    <a href="#" class="header_block_end_img">
                        <img src="/template/images/icons/search.svg" />
                    </a>
                    <select>
                        <option>EN</option>
                        <option>UA</option>
                    </select>
                </div>
            </div>
            <div class="footer_block_lower">
                <div class="lower_text_one">
                    <a> Политика конфиденциальности</a>
                    <a>Политика использования </a>
                </div>
                <div class="lower_text_two">
                    <a> Copyright © All Rights Reserved</a>
                </div>
            </div>
        </div>
    </footer>